<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나의 회의록</title>
    <style>
        body {
            margin: 0 20%;
        }
        h1 {
            color: #6f4bbd;
            font-size: 50px;
            padding-bottom: 30px;
            margin-top: 60px;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
        .attributes {
            margin-bottom: 30px;
        }
        a {
            color: #6f4bbd;
        }
        .export {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <p>by Recom 🎙</p>
    <h1 th:text="${title  + ' 회의록'}">무제</h1>
    <div class="attributes">
        <p th:text="${address}">주소 없음</p>
        <p th:text="${createdAt} + ' 생성됨'">생성일자 없음</p>
    </div>
    <hr>
    <table>
        <tr>
            <td></td>
        </tr>
        <tr th:each="content: ${contents}">
            <td th:utext="${content.isBold() == true ? '<b>' + content.getContent() + '</b>' : content.getContent()}">콘텐츠입니다.</td>
        </tr>
    </table>
    <div class="export">
        <a th:href="@{/document/{code}/download?export-type=DOCX(code=${code})}">DOCX(워드 파일)로 Export</a><br>
        <a th:href="@{/document/{code}/download?export-type=HWP(code=${code})}">HWP(한글 파일)로 Export</a><br>
        <a th:href="@{/document/{code}/download?export-type=MD(code=${code})}">MD(마크다운 파일)로 Export</a>
    </div>
</body>
</html>